  <nav>
    <div class="logo">
      <a href="/"><img src="/images/pokeball.png" alt="Pokeball logo" /></a>
      PokéCollector
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/viewCollection">Collection</a></li>
      <li><a href="/logoutUser">Logout</a></li>
    </ul>
  </nav>